/////////////////////////////////////////////
// Primary Project Config File
////////////////////////////////////////////

// Colors
$colors: (
  "white": hsl(0, 0%, 100%),
  "blue": hsl(224, 85%, 66%),
  "gray": (
    "200": hsl(0, 0%, 17%),
    "400": hsl(0, 0%, 59%),
  ),
);

// Breakpoints
$breakpoints: (
  "desktop": 45em,
);

// Font Families
$font-families: ();

// Font Sizes
$font-sizes: (
  "base": (
    "200": 0.625rem,
    "400": 1.125rem,
    "500": 1.25rem,
    "600": 1.625rem,
  ),
  "45em": (
    "200": 0.75rem,
    "500": 1.625rem,
    "600": 2rem,
  ),
);

// Margin/Padding Sizes
$spacings: (
  "base": (
    "100": 0.625rem,
    "200": 0.75rem,
    "300": 1rem,
    "400": 1.125rem,
  ),
);

// Block Widths
$block-widths: ();

// Letter Spacing

$letter-spacing: (
  "0": 0px,
  "1": 1.75px,
);
